@use 'variables' as main;

mat-card.mat-mdc-card.places-skeleton {
  img.mat-mdc-card-image {
    position: relative !important;
  }

  > mat-card-header.mat-mdc-card-header {
    justify-content: space-between;
    align-items: flex-end;
    gap: main.spacing(2); 
    padding: 0px main.spacing(2); 

    > div.mat-mdc-card-header-text {
      display: flex;
      flex-direction: column;
      gap: main.spacing(2);
    }
  }

  .mat-mdc-card-title {
    display: flex;
    gap: main.spacing(2); //
    align-items: center;
    font-size: larger;
  }

  .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    gap: main.spacing(2); 
    padding: main.spacing(2); 
    padding-top: main.spacing(1); 
  }

  section.schedule {
    display: flex;
    flex-direction: column;
    gap: main.spacing(1); 
  }

  section.activities {
    
  }

  .button-skeleton {
    display: flex;
    justify-content: flex-end;
  }



}
