<mat-card class="places-skeleton">
  <!-- Main image skeleton -->
  <p-skeleton styleClass="w-full" height="256px"></p-skeleton>

  <mat-card-header>
    <!-- Title skeleton -->
    <mat-card-title>
      <p-skeleton styleClass="title-skeleton" height="20px" width="250px"></p-skeleton>
    </mat-card-title>

    <!-- Button skeleton with circle appearance -->
    <div class="button-skeleton">
      <p-skeleton shape="circle" size="32px"></p-skeleton>
    </div>
  </mat-card-header>

  <mat-card-content>


    <section class="activities">
      <!-- Badge-style skeleton for activities -->
      <p-skeleton height="32px" width="120px" borderRadius="24px"></p-skeleton>
      <p-skeleton height="32px" width="120px" borderRadius="24px"></p-skeleton>
      <p-skeleton height="32px" width="120px" borderRadius="24px"></p-skeleton>
    </section>

    <section class="schedule">
      <!-- Line skeletons for schedule -->
      <p-skeleton height="16px" width="256px"></p-skeleton>
      <p-skeleton height="16px" width="256px"></p-skeleton>
    </section>
  </mat-card-content>

  <mat-card-footer></mat-card-footer>
</mat-card>
